.wrapper {
    max-width: 1300px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    margin-bottom: 15%;
}

.layout {
    background: rgb(250, 251, 254);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.card-wrapper {
    height: 37.5vw;
    flex: 1 1 auto;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(auto-fill, 12.5%);
    grid-template-rows: repeat(auto-fill, 12.5%);
}

.bsa_icon {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.bsa_card-front {
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.bsa-logo-wrapper {
    width: 50%;
    height: 50%;
}

.bsa-logo {
    width: 100%;
    height: 100%;
}

.bsa_card-back {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-button {
    cursor: pointer;
    padding: .5rem 2rem;
    font-size: 18px;
    border-radius: 3px;
    color: #fff;
    background: #00ADEE;
    outline: none;
    border-style: none;
}

.join-button:hover {
    background: #3100a5;
}

.qa {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
}

.rotate-card {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 1000px;
}

.rotate-card_item {
    position: absolute;
    width: 100%;
    height: 100%;
    transition-duration: .5s;
    backface-visibility: hidden;
}

.qa_card-front {
    font-size: 6vw;
    background: #55b977;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qa_card-back {
    background: #fff;
    padding: 1.5rem;
    font-size: 24px;
    font-weight: bold;
    overflow: auto;
}

.rotate-card_back {
    transform: rotateY(180deg);
}

.rotate-card:hover .rotate-card_front {
    transform: rotateY(180deg);
}

.rotate-card:hover .rotate-card_back {
    transform: rotateY(360deg);
}

.js {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
}

.js_card-front {
    font-size: 6vw;
    padding-right: .5rem;
    font-weight: bold;
    background: #f0c86a;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.js_card-back {
    background: #fff;
    overflow: auto;
    padding: 1.5rem;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}


.java {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
}

.fly-card {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}

.java_front {
    z-index: 1;
    color: #fff;
    font-size: 3vw;
    font-weight: 500;
    background: #cf2c47;
}

.java_back {
    background: #fff;
    padding: 1.5rem;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.fly-card:hover>.java_front {
    transform: translateY(100%);
}

.net {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 9;
}

.resize-card {
    position: relative;
    width: 100%;
    height: 100%;
}

.resize-card_front {
    transition-duration: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    z-index: 1;
}

.resize-card_net {
    color: #fff;
    background: #5c236d;
    transform-origin: bottom right;
}

.resize-card_back {
    overflow: auto;
    background: #fff;
    padding: 1.5rem;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.resize-card:hover>.resize-card_front {
    transform: scale(0);
}


.php {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.resize-card_php {
    font-style: italic;
    color: #000;
    background: #8690be;
    transform-origin: top right;
}

.card {
    position: relative;
}

.events {
    overflow: hidden;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}

.card-item {
    position: absolute;
    width: 100%;
    height: 100%;
}

.events_title {
    background: #348cf0;
    color: #fff;
    font-size: 1.3vw;
    font-weight: 500;
}

.card-title {
    z-index: 1;
    transition-duration: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    padding: 1rem;
    overflow-y: auto;
    font-size: 22px;
    background: #fff;
}

.events:hover>.events_title{
    transform: translateX(100%);
}


.blog {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
    overflow: hidden;
}

.blog_title {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 500;
    background: #0a398a;
}

.blog_content {
    height: 100%;
    background: #fff;
}

.blog:hover>.blog_title {
    transform: translateX(100%);
}

.contacts {
    position: relative;
    overflow: hidden;
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
}

.contacts_title {
    color: #fff;
    font-size: 1.3vw;
    font-weight: 500;
    background: #062150;
}

.contacts:hover>.contacts_title {
    transform: translateX(100%);
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

.contacts_content {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.contacts_content-icon-wrapper {
    color: #000;
    cursor: pointer;
    margin: .5rem;
}

.contacts_content-icon {
    font-size: 2.2rem;
}

.contacts_content-icon:hover {
    color: #4458d6;
}

@keyframes stretch {
    0% {
      transform: scale(.3);
      background-color:#062150;
      border-radius: 100%;
    }
    50% {
      background-color: rgba(53, 122, 202, 0.849)
    }
    100% {
      transform: scale(1.5);
      background-color: #005effce;
    }
  }