@keyframes go_down {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.header {
    width: 100%;
    height: 65px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    
    z-index: 100;
    position: fixed;
    top: 0;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    animation-duration: calc(var(--animate-duration) * 1.25);
    animation-name: go_down;
}

.header_logo {
    width: 105px;
    height: 30px;
}

.menu_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: calc(100% - 135px);
}

.bell {
    font-size: 30px;
    color: rgb(190, 200, 216);
    margin-right: 30px;
}

.bell:hover {
    font-size: 30px;
    color: rgb(130, 135, 142);
    margin-right: 30px;
    cursor: pointer;
}

.avatar {
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 155, 27);
    border-radius: 50%;
    position: relative;
}

.avatar:hover {
    background-color: rgb(220, 125, 0);
    cursor: pointer;
}

.menu-popup {
    width: 160px;
    height: 185px;
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.avatar:hover .menu-popup {
    visibility: visible;
}

.menu-popup_name {
    font-size: 12px;
    color: rgb(120, 120, 120);
    margin: 10px 15px 5px 15px;
    padding-bottom: 5px;
    border-bottom: thin solid rgb(120, 120, 120);
}

.menu-popup_item {
    color: rgb(50, 50, 47);
    font-size: 16px;
    text-align: left;
    margin: 0px 15px;
    padding: 5px 2px;
}

.menu-popup_item:last-child {
    margin-bottom: 5px;
}

.menu-popup_item:hover {
    background-color: rgba(130, 135, 140, 0.2);
}