html,
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    --animate-duration: 1s;
}

.page {
    display: grid;
    grid-template-rows: 6% 88% 6%;
    grid-template-columns: 100%;
    height: 100%;
    background: #f8f7fe;
}

.page_header {
    grid-area: 1/2/2/1;
}

.page_content {
    grid-area: 2/2/3/1;
}

.page_footer {
    grid-area: 3/2/4/1;
}