.notification-message {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    top: 0;
    z-index: 1000;
    pointer-events: none;
}

.notification-message_container {
    display: flex;
    flex-direction: column;
}

.notification-message_item {
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.notification-message_item--error {
    background-color: rgba(195, 85, 78, 0.75);
}

.notification-message_item--success {
    background-color: rgba(105, 170, 105, 0.75);
}

.notification-message_item--warning {
    background-color: rgba(250, 160, 70, 0.75);
}

.notification-message_item-icon {
    font-size: 30px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}

.notification-message_item-header {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.notification-message_item-text {
    color: rgb(255, 255, 255);
}